/*
CRA comes with postcss which allows scss like selectors
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #242424;
  --main-text-color: rgb(255, 240, 240);
  --submit-button-color: rgb(29, 117, 37);
  --red-button-color: #f34e4e;
  color: var(--main-text-color)
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;

}

h1,
h2 {
  text-align: center;
}

.form-container {
  max-width: 560px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 20px;
  border: 2px solid var(--main-text-color);
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.password-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  input {
    width: 100%;
  }
}

.form-field {
  display: flex;

  flex-direction: column;
  gap: .5rem;
  justify-content: center;
  margin-bottom: 1rem;

  label {
    font-weight: 600;
    margin: 0;
  }



  input,
  textarea {
    resize: vertical;
    padding: .5rem;
    border-radius: 4px;

  }

  .charcount {
    margin-top: 0;
    font-size: 0.9rem;
    color: #b6b6b6;
    text-align: right;

    &.max-length {
      color: rgb(209, 157, 45)
    }
  }
}

.btn,
.login-btn,
.submit-btn {
  border: none;
  border-radius: 3px;
  padding: .5rem 1rem;
  font-weight: 600;
  cursor: pointer;

  &.edit {
    background: #f8e74b;
  }
}

.submit-btn,
.login-btn {
  background: var(--submit-button-color);
  color: var(--main-text-color);
}

.login-btn {
  margin-left: auto;
}

.submit-btn:disabled {
  background: rgba(29, 117, 36, 0.644);
}

button:disabled {
  cursor: not-allowed;
}

.error {
  color: red;
}

.logout {
  background: var(--red-button-color);
  color: var(--main-text-color);
  position: absolute;
  top: 0;
  right: 0;
}

.delete-btn {
  background: var(--red-button-color);
  color: var(--main-text-color);
}

.todo-list {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

  .todo-list-item {
    background: #fff8b5;
    color: #000000;
    padding: 1rem;
    padding: 20px;
    border: 4px solid #f0e68c;
    line-height: 1.4;
    border-radius: 4px;

    .title {
      font-weight: 600;
    }

    &:hover {
      transform: scale(1.01);
    }

  }
}

.ruler {
  margin: 2rem 0;
}

.sorting-tag-container {
  display: flex;
  gap: 1rem;
  align-items: center;

  .sorting-tag-label {
    font-weight: 600;
  }

  .sorting-tag {
    border-radius: 50px;
    border: 1px solid;

    &.active {
      background: rgb(25, 77, 129);
      color: var(--main-text-color)
    }
  }
}