/*
CRA comes with postcss which allows scss like selectors
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #242424;
  --main-text-color: rgb(255, 240, 240);

  color: var(--main-text-color)
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;

}

h1,
h2 {
  text-align: center;
}

.form-container {
  max-width: 560px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 20px;
  border: 2px solid var(--main-text-color);
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.password-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  input {
    width: 100%;
  }
}

.form-field {
  display: flex;

  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 1rem;

  p {
    font-weight: 600;
    margin: 0;
  }



  input,
  textarea {
    resize: vertical;
    padding: .5rem;

  }

  .charcount {
    margin-top: 0;
    font-size: 0.9rem;
    color: #b6b6b6;
    text-align: right;

    &.max-length {
      color: rgb(209, 157, 45)
    }
  }
}

.btn,
.submit-btn {
  border: none;
  border-radius: 3px;
  padding: .5rem 1rem;
  font-weight: 600;

  &.edit {
    background: #f8e74b;
  }
}

.error {
  color: red;
}

.submit-btn {
  display: inline-block;
  background-color: rgb(29, 117, 37);
  color: var(--main-text-color)
}

.logout {
  background: #f34e4e;
  color: var(--main-text-color);
  position: absolute;
  top: 0;
  right: 0;
}

.todo-list {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

  .todo-list-item {
    background: #fff8b5;
    color: #000000;
    padding: 1rem;

    .title {
      font-weight: 600;
    }


  }
}

.ruler {
  margin: 2rem 0;
}